<!--content-->
<div class="content">
    <div class="container">

        <div class="content-top">

            <h1>Demandes Recentes</h1>

            <div class="content-top1">
                <div *ngIf="demandes">
                
                    <div class="col-md-3 col-md2" *ngFor="let demande of demandes">

                        <div class="col-md1 simpleCart_shelfItem">
                            <a routerLink="/produit/{{demande.id}}">
                                <img class="img-responsive" [src]="demande.image1" alt="" />
                            </a>
                            
                            <h3><a routerLink="/produit/{{demande.id}}">{{ demande.lib_article }}</a></h3>

                            <div class="price">
                                    <h5 class="item_price">$300</h5>
                                    <a href="#" class="item_add">{{ demande.quantite }}</a>
                                    <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>                
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//content-->