<div class="single">

  <div class="container">

    <div class="col-md-9">
      <div class="col-md-5 grid">		
        <div class="flexslider">
            <ul class="slides">
              <li data-thumb="images/si.jpg">
                  <div class="thumb-image"> <img src="images/si.jpg" data-imagezoom="true" class="img-responsive"> </div>
              </li>
              <li data-thumb="images/si1.jpg">
                   <div class="thumb-image"> <img src="images/si1.jpg" data-imagezoom="true" class="img-responsive"> </div>
              </li>
              <li data-thumb="images/si2.jpg">
                 <div class="thumb-image"> <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive"> </div>
              </li> 
            </ul>
        </div>
      </div>	
    
      <div class="col-md-7 single-top-in">

        <div class="single-para simpleCart_shelfItem">
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          
          <div class="star-on">
            
            <div class="review">
              <a href="#"> 3 reviews </a>/
              <a href="#">  Write a review</a>
            </div>
            <div class="clearfix"> </div>
          </div>
          
          <label  class="add-to item_price">$32.8</label>

          <a href="#" class="cart item_add">More details</a>
        </div>

      </div>

      <div class="clearfix"> </div>
          <div class="content-top1">
            <div class="col-md-4 col-md3">
              <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                  <img class="img-responsive" src="images/pi6.png" alt="" />
                </a>
                <h3><a href="single.html">Jeans</a></h3>
                <div class="price">
                    <h5 class="item_price">$300</h5>
                    <a href="#" class="item_add">Add To Cart</a>
                    <div class="clearfix"> </div>
                </div>
              </div>
            </div>	

            <div class="col-md-4 col-md3">

              <div class="col-md1 simpleCart_shelfItem">

                <a href="single.html">
                  <img class="img-responsive" src="images/pi7.png" alt="" />
                </a>

                <h3><a href="single.html">Tops</a></h3>

                <div class="price">
                    <h5 class="item_price">$300</h5>
                    <a href="#" class="item_add">Add To Cart</a>
                    <div class="clearfix"> </div>
                </div>
                
              </div>
            </div>

            <div class="col-md-4 col-md3">
              <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                  <img class="img-responsive" src="images/pi.png" alt="" />
                </a>
                <h3><a href="single.html">Tops</a></h3>
                <div class="price">
                    <h5 class="item_price">$300</h5>
                    <a href="#" class="item_add">Add To Cart</a>
                    <div class="clearfix"> </div>
                </div>
                
              </div>
            </div>	
          
            <div class="clearfix"> </div>
          </div>		
    </div>

    <div class="col-md-3 product-bottom">
      <!--categories-->
      <div class=" rsidebar span_1_of_left">
        <h3 class="cate">Categories</h3>
        <ul class="menu-drop"></ul>
      </div>
      <!--tag-->
      <div class="tag">	
        <h3 class="cate">Tags</h3>
        <div class="tags">
          <ul>
            <li><a href="#">design</a></li>
            <li><a href="#">fashion</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">dress</a></li>
            <li><a href="#">fashion</a></li>
            <li><a href="#">dress</a></li>
            <li><a href="#">design</a></li>
            <li><a href="#">dress</a></li>
            <li><a href="#">design</a></li>
            <li><a href="#">fashion</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">dress</a></li>
            <div class="clearfix"> </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="clearfix"> </div>

  </div>
</div>