<div class="header">

	<div class="header-top">

		<div class="container">

			<div class="col-sm-4 logo">
				<a href=""><img src="./assets/images/logo.png" alt=""></a>	
			</div>
			<div class="col-sm-4">
					
			</div>
			<div class="col-sm-4">
					<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							  Dashboard
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							  <li><a routerLink="create/user">Create User</a></li>
							  <li><a routerLink="create/product">Create a product</a></li>
							  <li><a routerLink="create/post">Create a post</a></li>
							  <li role="separator" class="divider"></li>
							  <li><a href="#">Statistics</a></li>
							  <li role="separator" class="divider"></li>
							  <li><a href="javascript:void(0)">Logout</a></li>
							</ul>
						  </div>	
			</div>

			<div class="clearfix"> </div>
		</div>
	
	</div>

	<div class="container">
		<div class="head-top">

			<div class="col-sm-2 number">
				
			</div>

			<div class="col-sm-8 h_menu4">
				<ul class="memenu skyblue">
					<li class=" grid"><a  routerLink="" [class.activatedRoute]="url=='/'">Accueil</a></li>							
					<li><a  routerLink="/demandes" [class.activatedRoute]="url=='/demandes'">Demandes</a></li>				
					<li><a  routerLink="/offres" [class.activatedRoute]="url=='/offres'">Offres</a></li>				
					<li><a  routerLink="/produits" [class.activatedRoute]="url=='/produits'">Produits</a></li>				
					<li><a  routerLink="/blog" [class.activatedRoute]="url=='/blog'">Blog</a></li>				
					<li><a class="color6" routerLink="contact" [class.activatedRoute]="url=='/contact'">Contact</a></li>
				</ul> 
			</div>

			<div class="col-sm-2 search">		
				<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
			</div>
	
			<div class="clearfix"> </div>

			<div id="small-dialog" class="mfp-hide">

				<div class="search-top">
					<div class="login">
						<form [formGroup]="searchForm">
							<input type="submit" value="">
							<input 
							type="text" 
							value="Votre Recherche..." 
							onfocus="this.value = '';" 
							onblur="if (this.value == '') {this.value = '';}"
							formControlName="recherche" 
							>		
						</form>
					</div>
				</div>	

			</div>			
		</div>
	</div>

</div>
<hr>

<router-outlet></router-outlet>


<!--footer-->
<div class="footer">
	<div class="footer-bottom">
		<div class="container">
				<div class="col-sm-3 footer-bottom-cate">
					<h6>Categories</h6>
					<ul>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li><a href="#">Dignissim neque</a></li>
						<li><a href="#">Ornared id aliquet</a></li>
						
					</ul>
				</div>
				<div class="col-sm-3 footer-bottom-cate">
					<h6>Feature Projects</h6>
					<ul>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li><a href="#">Dignissim neque</a></li>
						<li><a href="#">Ornared id aliquet</a></li>
						
					</ul>
				</div>
				<div class="col-sm-3 footer-bottom-cate">
					<h6>Top Brands</h6>
					<ul>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li><a href="#">Dignissim neque</a></li>
						<li><a href="#">Ornared id aliquet</a></li>
						<li><a href="#">Ultrices id du</a></li>
						<li><a href="#">Commodo sit</a></li>
						
					</ul>
				</div>
				<div class="col-sm-3 footer-bottom-cate cate-bottom">
					<h6>Our Address</h6>
					<ul>
						<li>Aliquam metus  dui. </li>
						<li>orci, ornareidquet</li>
						<li> ut,DUI.</li>
						<li>nisi, dignissim</li>
						<li>gravida at.</li>
						<li class="phone">PH : 6985792466</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<p class="footer-class"> © 2015 Fashion Mania. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
			</div>
	</div>
</div>
