<!--content-->
<div class="content">
    <div class="container">

        <div class="content-top">

            <h1>Liste des Produits</h1>

            <div class="content-top1">
                <div *ngIf="articles">
                
                    <div class="col-md-3 col-md2" *ngFor="let article of articles">

                        <div class="col-md1 simpleCart_shelfItem">
                            <a routerLink="/produit/{{article.id}}">
                                <img class="img-responsive" [src]="article.image1" alt="" />
                            </a>
                            
                            <h3><a routerLink="/produit/{{article.id}}">{{ article.lib_article }}</a></h3>

                            <div class="price">
                                    <h5 class="item_price">{{ article.prix }} CFA</h5>
                                    <a href="#" class="item_add">{{ article.quantite }}</a>
                                    <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>                
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//content-->