<!--banner-->
<div class="banner">
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive"	src="./assets/images/ba1.jpg" alt="">
	</div>
	<div class="col-sm-6 matter-banner">
	 	<div class="slider">
	    	<div class="callbacks_container">
	      		<ul class="rslides" id="slider">
	        		<li>
	          			<img src="./assets/images/1.jpg" alt="">
	       			 </li>
			 		 <li>
	          			<img src="./assets/images/2.jpg" alt="">   
	       			 </li>
					 <li>
	          			<img src="./assets/images/1.jpg" alt="">
	        		</li>	
	      		</ul>
	 	 	</div>
		</div>
	</div>
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive" src="./assets/images/ba.jpg" alt="">
	</div>
	<div class="clearfix"> </div>
</div>
<!--//banner-->


<!--content-->
<div class="content">
	<div class="container">

		<div class="content-top">

			<h1>Produits Recents</h1>

			<div class="content-top1">
				<div *ngIf="articles">
				
					<div class="col-md-3 col-md2" *ngFor="let article of articles">

						<div class="col-md1 simpleCart_shelfItem">
							<a routerLink="/produit/{{article.id}}">
								<img class="img-responsive" [src]="article.image1" alt="" />
							</a>
							
							<h3><a routerLink="/produit/{{article.id}}">{{ article.lib_article }}</a></h3>

							<div class="price">
									<h5 class="item_price">{{ article.prix }} CFA</h5>
									<a href="#" class="item_add">{{ article.quantite }}</a>
									<div class="clearfix"> </div>
							</div>
						</div>
					</div>                
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//content-->
