input[type="password"] {
	border: 1px solid #bbb;
	outline-color:#52d0c4;
	width: 100%;
	font-size:0.9em;
	padding:10px;
    margin: 0.5em 0;
    color:#bbb;
}

input[type="text"]{
	border: 1px solid #bbb;
	outline-color:#52d0c4;
	width: 100%;
	font-size:0.9em;
	padding:10px;
    margin: 0.5em 0;
    color:#bbb;
}

input[type="number"]{
	border: 1px solid #bbb;
	outline-color:#52d0c4;
	width: 100%;
	font-size:0.9em;
	padding:10px;
    margin: 0.5em 0;
    color:#bbb;
}

.register select {
	border: 1px solid #bbb;
	outline-color:#52d0c4;
	width: 100%;
	font-size:0.9em;
	padding:10px;
    margin: 0.5em 0;
	color:#bbb;
	background: white;
}

input[type="submit"] {
	background:#52d0c4;
	color: #FFF;
	font-size: 0.9em;
	padding: 0.4em 1em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}

textarea{
	width:100%;
	padding:1em;	
	border:1px solid #bbb;
	-webkit-appearance:none;
	outline:none;
	color:#bbb;
	min-height:220px;
	resize:none;
	outline-color:#52D0C4;
}